<% if flash[:alert] %>
  <%= flash[:alert] %>
<% elsif flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<% if @concert.errors.any? %>
  <ul>
    <% @concert.errors.full_messages.each do |error|%>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for [@concert] do |f| %>
  <%= f.label :artist %>
  <%= f.text_field :artist %>
  <br>
  <%= f.label :venue %>
  <%= f.text_field :venue %>
  <br>
  <%= f.label :city %>
  <%= f.text_field :city %>
  <br>
  <%= f.label :price %>
  <%= f.number_field :price %>
  <br>
  <%= f.label :date %>
  <%= f.date_field :date %>
  <br>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <br>
  <%= f.label :description %>
  <%= f.file_field :description %>
  <br>
  <%= f.submit "save" %>
<% end %>